

/* ----------- main panel */
.main-panel {

}

.main-panel button {

}

/* ----------- result panel */
.result-panel {

}


/* ----------- messages */
.status-msg {
    color:green;
}

.error-msg {
    color:red;
}

.result {
    border-top: 1px solid black;
}